<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="multiselect/jquery.multiselect.js"></script>
  <link rel="stylesheet" href="multiselect/jquery.multiselect.css">
</head>
<body>

<div class="container">
  <h2>Add Product</h2>
  <form class="form-horizontal" action="{{ path('add_product') }}" method="post" enctype="multipart/form-data" id="formId">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Product Name:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="name" placeholder="Enter Product Name" name="name" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="image">Product Image:</label>
      <div class="col-sm-4">          
        <input type="file" class="form-control" id="image" placeholder="Select Product Image" name="image" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="color">Product Color:</label>
      <div class="col-sm-4">          
       <select name="color[]" multiple id="colorOpt" required>
            <option value="green">Green</option>
            <option value="yellow">Yellow</option>
            <option value="red">Red</option>
            <option value="pink">Pink</option>
            <option value="orange">Orange</option>
            <option value="purple">Purple</option>
            <option value="blue">Blue</option>
            <option value="white">White</option>
            <option value="black">Black</option>
        </select>
      </div>
    </div>
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
  </form>
</div>

<script>
  $('select[multiple]').multiselect();
</script>
 
<script type = "text/javascript">
    Ext.onReady(function() {

    });
</script>
</body>
</html>